<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <style>
        table {
            border-collapse: separate; /* Remove space between table cells */
            border-spacing: 10px 0; /* horizontal and vertical spacing */
            text-align: left;
        }
        .edit-button { margin-top: 0; }
        form { margin: 0; }
        button { padding: 5px 10px; }
    </style>
</head>
<body>
    <form method="post" action="/logged_in">
        <h3>Beregning af hovedstol for vilkårligt lån</h3>
        <label for="house_price">Boligens pris:</label><br>
        <input type="text" id="house_price" name="house_price" value="{{ input_house_price if input_house_price else '' }}">
        <span>(Benyt punktum som tusindtalsseparator)</span><br>

        <label for="down_payment">Egen opsparing:</label><br>
        <input type="text" id="down_payment" name="down_payment" value="{{ input_down_payment if input_down_payment else '' }}"><br>

        <label for="bond_price">Kurs på lån:</label><br>
        <input type="text" id="bond_price" name="bond_price" value="{{ input_bond_price if input_bond_price else '' }}">
        <span>(Benyt komma som decimalseparator)</span><br>

        <label for="dropdown">Vælg bank:</label><br>
        <select id="dropdown" name="dropdown">
            {% for bank_name in dropdown_bank_names %}
            <option value="{{ bank_name }}"
                {% if selected_bank %}
                    {% if bank_name == selected_bank %} selected {% endif %}
                {% else %}
                    {% if loop.first %} selected {% endif %}
                {% endif %}>
                {{ bank_name }}
            </option>
            {% endfor %}
        </select><br><br>

        <input type="submit" value="Beregn">
        <br><br>
        <label>Hovedstol: {{ principal_value }}</label><br>
        <label>Kurstab: {{ capital_loss }}</label><br>
    </form>
    <br>

    <form method="post" action="/save_calc">
        <input type="hidden" name="house_price" value="{% if input_house_price %}{{ input_house_price }}{% else %}1.000.000{% endif %}">
        <input type="hidden" name="down_payment" value="{% if input_down_payment %}{{ input_down_payment }}{% else %}50.000{% endif %}">
        <input type="hidden" name="bond_price" value="{% if input_bond_price %}{{ input_bond_price }}{% else %}95,8{% endif %}">
        <input type="hidden" name="dropdown" value="{{ selected_bank }}">
        <input type="submit" value="Gem beregning">
    </form>
    <br><br>
    <a href="/logout">Log ud</a>

    {% if list_current_user_calcs %}
    <h3>Mine gemte beregninger</h3>
    <table>
        <thead>
            <tr>
                <th>Boligens pris</th>
                <th>Egen opsparing</th>
                <th>Kurs på lån</th>
                <th>Bank navn</th>
                <th>Hovedstol</th>
                <th>Kurstab</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for calc in list_current_user_calcs %}
            <tr>
                <td>{{ calc.house_price }}</td>
                <td>{{ calc.down_payment }}</td>
                <td>{{ calc.bond_price }}</td>
                <td>{{ calc.bank_name }}</td>
                <td>{{ calc.principal_value }}</td>
                <td>{{ calc.capital_loss }}</td>
                <td>
                    <div class="edit-button">
                        <form method="post" action="/edit_calc">
                            <input type="hidden" name="calc_id" value="{{ calc.calc_id }}">
                            <button type="submit">Rediger</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="edit-button">
                        <form method="post" action="/share_calc">
                            <input type="hidden" name="house_price" value="{% if input_house_price %}{{ input_house_price }}{% else %}1.000.000{% endif %}">
                            <input type="hidden" name="down_payment" value="{% if input_down_payment %}{{ input_down_payment }}{% else %}50.000{% endif %}">
                            <input type="hidden" name="bond_price" value="{% if input_bond_price %}{{ input_bond_price }}{% else %}95,8{% endif %}">
                            <input type="hidden" name="dropdown" value="{{ selected_bank }}">
                            <input type="hidden" name="calc_id" value="{{ calc.calc_id }}">
                            <button type="submit">Del</button>
                        </form>
                    </div>
                </td>
                <td>
                    <div class="edit-button">
                        <form method="post" action="/delete_calc">
                            <input type="hidden" name="house_price" value="{% if input_house_price %}{{ input_house_price }}{% else %}1.000.000{% endif %}">
                            <input type="hidden" name="down_payment" value="{% if input_down_payment %}{{ input_down_payment }}{% else %}50.000{% endif %}">
                            <input type="hidden" name="bond_price" value="{% if input_bond_price %}{{ input_bond_price }}{% else %}95,8{% endif %}">
                            <input type="hidden" name="dropdown" value="{{ selected_bank }}">
                            <input type="hidden" name="calc_id" value="{{ calc.calc_id }}">
                            <button type="submit">Slet</button>
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
<!--    <p>Ingen delte beregninger.</p>-->
    {% endif %}
    <br><br>

    {% if current_user_shared_calc_details %}
    <h3>Mine delte beregninger</h3>
    <table>
        <thead>
            <tr>
                <th>Boligens pris</th>
                <th>Egen opsparing</th>
                <th>Kurs på lån</th>
                <th>Bank navn</th>
                <th>Hovedstol</th>
                <th>Kurstab</th>
                <th>Delt med</th>
                <th>Access level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for calc in current_user_shared_calc_details %}
            <tr>
                <td>{{ calc.house_price }}</td>
                <td>{{ calc.down_payment }}</td>
                <td>{{ calc.bond_price }}</td>
                <td>{{ calc.bank_name }}</td>
                <td>{{ calc.principal_value }}</td>
                <td>{{ calc.capital_loss }}</td>
                <td>{{ current_user_shared_with_emails[loop.index0] }}</td>
                <td>{{ current_user_shared_calc_access_levels[loop.index0] }}</td>
                <td>
                    <div class="edit-button">
                        <form method="post" action="/edit_sharing_access">
                            <input type="hidden" name="calc_id" value="{{ calc.calc_id }}">
                            <button type="submit">Rediger deling</button>

                            <input type="hidden" name="email_shared_with" value="{{ current_user_shared_with_emails[loop.index0] }}">
                            <input type="hidden" name="access_level" value="{{ current_user_shared_calc_access_levels[loop.index0] }}">
                        </form>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
<!--    <p>Ingen delte beregninger.</p>-->
    {% endif %}
    <br><br>

    {% if all_shared_calcs_with_user %}
    <h3>Beregninger delt med mig</h3>
    <table>
        <thead>
            <tr>
                <th>Boligens pris</th>
                <th>Egen opsparing</th>
                <th>Kurs på lån</th>
                <th>Bank navn</th>
                <th>Hovedstol</th>
                <th>Kurstab</th>
                <th>Access level</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for calc in all_shared_calcs_with_user %}
            <tr>
                <td>{{ calc.house_price }}</td>
                <td>{{ calc.down_payment }}</td>
                <td>{{ calc.bond_price }}</td>
                <td>{{ calc.bank_name }}</td>
                <td>{{ calc.principal_value }}</td>
                <td>{{ calc.capital_loss }}</td>
                <td>{{ list_all_shared_calcs_access_level[loop.index0] }}</td>
                <td>
                    <div class="edit-button">
                        {% if list_all_shared_calcs_access_level[loop.index0] == "write" %}
                            <form method="post" action="/edit_calc">
                                <input type="hidden" name="calc_id" value="{{ calc.calc_id }}">
                                <button type="submit">Rediger</button>
                            </form>
                        {% else %}
                            <!-- ingen knap hvis read_only access_level -->
                        {% endif %}
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
<!--    <p>Ingen delte beregninger.</p>-->
    {% endif %}
</body>
</html>
